.venv/
__pycache__/
*.pyc
models/*.pt
input_stream/**/*.mp4
input_stream/**/*.avi
input_stream/**/*.mov
processed/videos/*
processed/logs/*
processed/configs/*
app/gui v1.zip
.gitignore
app/gui v4.zip
app/gui v2.zip
notes.txt
app/gui v5.rar
dist/
build/
yolov8n.pt
yolo11s.pt
mobilenet_v3-large.pt
mobilenet_v3_large.pth
perimeter_intrusion_system.zip
logs.zip
logs2.zip